{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="wrapper">
<div class="container mt-5">
    <div class="row g-4">
    <!-- Welcome Title -->
    <h1 class="text-center display-4 mb-4">Welcome,</h1>
    <p class="mb-4">welcome Info--------</p>

        <!-- Blog Entries Column -->
                {% for post in posts %}
                <div class="col-lg-6">
                    <div class="card shadow-sm border-0">
                        <div class="text-center mb-4">
                            <img class="card-img-top img-fluid rounded shadow" 
                                 src="{% static 'images/coffee_default.jpg' %}" 
                                 alt="placeholder image">
                        </div>
                        
                        <!-- Post Content -->
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text text-muted">
                                {{ post.description|truncatewords:10 }}
                            </p>
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary w-100">
                                Read More
                            </a>
                        </div>
                        <div class="card-footer bg-light text-center">
                    <p class="mb-0 text-muted">
                        <strong>Rating:</strong> {{ post.average_rating|default:"No rating yet" }}
                    </p>
                </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link btn">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
</div>
<!-- index.html content ends here -->
{% endblock %}
