{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="wrapper">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% block inner_content %}{% endblock %}
    </div>
</div>
{% endblock %}