{% extends "base.html" %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    {% if not user.is_authenticated %}
        <h1>Welcome to Coffee Lovers Blog</h1>

        <h2>Login to your account</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render the form here -->
            <button type="submit" class="btn">Login</button>
        </form>

        {% else %}
        <script>window.location.href = "{% url 'home' %}";</script>
    {% endif %}
</body>
</html>

{% endblock %}